.hero-bg {
  background-image: url(/src/assets/redone-hero-01.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.fuel-bg {
  background-image: url(/src/assets/bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.header-tag {
  font-size: clamp(3rem, 1rem + 10vw, 7rem);
  font-weight: 600;
}

.name-tag {
  font-size: clamp(3rem, 1rem + 10vw, 4rem);
  font-weight: 600;
}

.container {
  padding: 0 1rem;
  max-width: 70rem;
  margin: 0 auto;
}

.container-nav {
  padding: 0 1rem;
  max-width: 100rem;
  margin: 0 auto;
}
